#buttonone{
    margin-left : -50%;
}
.navbar-item{
    margin-right: 20% !important;
}
.fab{
    padding-left: 10rem;
}
.hero{
    padding-bottom: 2%;
}
#homebox{
    height: 15rem;
    margin-bottom: -60rem !important;
}
label{
    font-weight: bold;
    text-transform: uppercase;
}
#boxx{
    padding-bottom: 3.5rem;
}
.mar{
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
    color: #2e74d9;
}